<div class ='text-center' style="padding-bottom:30px">
    <product-search class='search-inline' ></product-search>
</div>

    <div class="container">
    <div class="row" style="margin: 30px;">
        
        <div class="col-md-4" style="text-align:center">
                    <div>
                        <a  class="btn allId" href="/products" style="background-color: #ddd;padding: 10px 35px; 
                        font-size: 23px;
                        color: white;
                        font-weight: 500">All</a>
                    </div>
                </div>

        <div class="col-md-4" style="text-align:center">
            <div class="dropdown">
                <button class="dropbtn">Price</button>
                <div class="dropdown-content">
                  <a href="/filteredPriceAsc">cheap to expensive</a>
                  <a href="/filteredPriceDesc">expensive to cheap</a>
                </div>
              </div>
        </div>

        <div class="col-md-4" style="text-align:center">
                <div class="dropdown">
                    <button class="dropbtn">Category</button>
                    <div class="dropdown-content">
                            <a href="/phones" style="width: 201px;">Phone</a>
                            <a href="/tvs" style="width: 201px;">TV</a>
                            <a href="/computers" style="width: 201px;">Computer</a>
                            <a href="/watches" style="width: 201px;">Smart Watches</a>
                            <a href="/accessories" style="width: 201px;">Accessories</a>
                    </div>
                  </div>
            </div>
    </div>

  <div class="row">  
  <div class="col-sm-4 col-sm-12" *ngFor='let item of listUsers; let i = index' [ngClass]="{'row': (1+i)%3 == 0}">
      
        <div class="thumbnail hvr-grow" style="width:350px; border: 1px solid #c6bebe;">
        <a href='products/{{item.name}}'  role="button" ><img [src]='item.image' style="height:210px"  
        onerror="this.src='assets/images/soon.png';">
        
        <div class="caption">
            <hr style="    border-top: 1px solid  #c6bebe"/>
                <h2 style="font-weight:100px">{{item.name}} </h2>
                <h3 style="font-weight:100px">${{ item.price }} </h3></div></a> 
               <div class="caption"> <button type="submit" (click)="addToCart(item.id)" class="btn btn-primary"
                style="    width: 323px;" *ngIf='userPresent'>Add To Cart</button>
        </div>
      </div>
    
    </div>  
  </div>            </div>

  <div class="row" style="text-align:center">
    
    <div class="col-md-12">
    <ul class="pagination pagination-sm no-margin " >
      <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
      <li *ngFor="let p of pages; let i = index">
          <a [ngClass]="{'pagination-focus' : i == page}" href="" (click)="setPage(i, $event)">{{ i+1 }}</a>
      </li>
      <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
    </ul>
    
  </div>
  </div>

  