<div style="background:#f0f0f0">
    <div class="container">
       
        
    
      
    
        
        
        <div style="box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        margin-bottom:70px;">
        <div style="background: white;
        margin-bottom: -10px;">
          <h1 style="text-align:center; padding: 30px 0px;">2018 Upcoming MacBook</h1>
        </div>
        <div>
            <img src="/assets/images/newmac.jpeg" alt="Los Angeles" style="width:100%; height:100%; padding-left: 0px !important ">
        </div>
        <div style="margin-top: -20px;">
          <div class="row" style="margin-right: 0px; margin-left: 0px; background:white">
              <div class="col-md-2"></div>  
              <div class="col-md-8" >
            <p style="text-align:center; padding: 30px 0px; font-size:large;">We examine when Apple is likely to update its MacBook for 2018, 
              rounding up the rumours about the design, tech specs, new features and pricing
              All the evidence leads us to expect a major update to the MacBook in October. Not only could the price come down; we may
               also see a 13in screen option. We share everything we know about the 2018 MacBook below.
              Back in 2017 Apple updated the MacBook with Kaby Lake chips, and improved the integrated graphics. For the first time the 
              MacBook was a powerful enough machine for us to recommend - despite the lack of ports and the high price. 
              But that doesn't stop us wanting more from Apple's super-slim Mac laptop - and hopefully in 2018 our 
              wishes will be granted. </p>
            </div>
            <div class="col-md-2"></div>  
            </div>
            </div>
        </div>
        
        
        <div class="row" style="text-align:center">
                
            <div class="col-md-12">
            <ul class="pagination pagination-sm no-margin " >
              <li><a href="/news" >&laquo;</a></li>
              <li>
                  <a href="/news">1</a>
              </li>
              <li style="cursor:pointer">
                  <a>2</a>
              </li>
              <li><a style="cursor:pointer">&raquo;</a></li>
            </ul>
            
          </div>
          </div>
        
        </div>
      </div>
    
    