
<div class="container">
        <div>
                <ol class="breadcrumb">
                        <li style="font-size: 20px;"><a href="/">Home</a></li>
                        <li style="font-size: 20px;"><a href="/products">Products</a></li>
                        <li class="active" style="font-size: 20px;">{{ product.name }}</li>
                </ol>
        </div>
<div *ngIf='product'>
    <div class="row">
        <div class="col-md-1">
            
        </div>
      <div class="col-md-4" style="height:400px">
          <h1>
              {{ product.name }}
            </h1>
            <h3>Description: {{ product.description }}</h3>
            <h3>Price: ${{ product.price }}</h3>
      </div>
      <div class="col-md-5">
          <img [src]='product.image' style="height:400px"  alt="...">
      </div>
    </div>
    <div class="row" *ngIf='userPresent'>
        <div class="col-sm-1" style="">
                
          </div>
        <div class="col-md-4" style="font-size: 20px; margin: 30px;">
                <p style="font:30px">Did You like this product? Don't forget to add it to your cart</p>
          </div>
          <div class="col-md-4" >
                <button type="submit" (click)="addToCart(product.id)" 
                onclick="alert('Item was successfully added to your cart');"
                class="btn btn-primary"
                        style="font-size: 25px !important;
    width: 323px;
    padding: 10px !important;
    margin: 30px;">Add To Cart</button>
          </div>      
    </div>



    <!-- -->
    <div class="row" >
            <div class="col-sm-1" style="">
                    
              </div>
            <div class="col-md-4" style="font-size: 15px; margin: 30px;">
                    <p style="font:20px !important">Need a quick hint on how to compare this product to others - Press the button</p>
              </div>
              <div class="col-md-4" >
                    <div class="w3-container">
                            <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-warning"
                            style="font-size: 25px !important;
    width: 153px;
    padding: 5px !important;
    margin: 20px 100px;"
                            >Compare</button>
                          
                            <div id="id01" class="w3-modal">
                              <div class="w3-modal-content">
                                <div class="w3-container">
                                  <span onclick="document.getElementById('id01').style.display='none'
                                  " class="w3-button w3-display-topright">&times;</span>
                                  <div class="row" style="margin-top: 50px;" *ngFor='let item of listUsers; let i = index' 
                                  [ngClass]="{'row': (1+i)%4 == 0}">
                                    
                                      <div class="col-xs-6 col-md-3 hvr-grow">
                                          <a class="thumbnail w3-tooltip" style="height: 250px; cursor:pointer">
                                            <img [src]='item.image' style="height: 170px;"
                                            onerror="this.src='assets/images/soon.png';">
                                            <h3 style="text-align: center">{{item.name}}</h3>
                                            <span style="position:absolute;left:0;bottom:70px" class="w3-text w3-tag">{{item.description}}
                                                
                                            </span>
                                          </a>
                                      </div>
              
                                    </div>
                                    
              
                                </div>
                              </div>
                            </div>
                          </div>
              </div>      
    </div>

   
            <!-- -->
            



    <div class="jumbotron" style="padding-top: 50px">
        <p class="lead"><b>{{product.name}}</b> is a really good choice</p>
        <hr class="my-4">
        <p>We also would like to point out that there are some more items below that you might like</p>
        <p>Cheers!</p>
    </div>

    

    <div class="row">
        
            <div class="thumbnail hvr-grow" style="width:350px; border: 1px solid #c6bebe;     margin-left: 50px;">
                    <a href='products/iPhone Xs Gold'  role="button" ><img src="/assets/images/iphoneXSGOLD.jpg" style="height:210px"  
                    onerror="this.src='assets/images/soon.png';">
                    
                    <div class="caption">
                        <hr style="    border-top: 1px solid  #c6bebe"/>
                            <h2 style="font-weight:100px">iPhone Xs Gold </h2>
                            <h3 style="font-weight:100px">$1099 </h3></div></a> 
                           <div class="caption"> 
                    </div>
                  </div>

                  <div class="thumbnail hvr-grow" style="width:350px; border: 1px solid #c6bebe;">
                        <a href='products/MacBook Air'  role="button" ><img src="/assets/images/MBAIR.png" style="height:210px"  
                        onerror="this.src='assets/images/soon.png';">
                        
                        <div class="caption">
                            <hr style="    border-top: 1px solid  #c6bebe"/>
                                <h2 style="font-weight:100px">MacBook Air </h2>
                                <h3 style="font-weight:100px">$1299 </h3></div></a> 
                               <div class="caption"> 
                        </div>
                      </div>

                      <div class="thumbnail hvr-grow" style="width:350px; border: 1px solid #c6bebe;">
                            <a href='products/Beats Solo3 Gold'  role="button" ><img src="/assets/images/beatsGold.jpg" style="height:210px"  
                            onerror="this.src='assets/images/soon.png';">
                            
                            <div class="caption">
                                <hr style="    border-top: 1px solid  #c6bebe"/>
                                    <h2 style="font-weight:100px">Beats Solo3 Gold </h2>
                                    <h3 style="font-weight:100px">$499 </h3></div></a> 
                                   <div class="caption"> 
                            </div>
                          </div>
              
      </div>
      <div class="col-md-12" style="height:50px">

      </div>
</div>
</div>